#mapid { 
	width: 90%; 
	height: 900px; 
	margin: auto;
}

.legend {
	line-height: 18px;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.circle {
	background-color: #909090;
}

.static_text {
	position: absolute;
	display: inline-block;
	z-index: 1000;
	font-family: Arial;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
	text-shadow: white 0.1em 0.1em 0.2em
}

.title {
	top: 100px;
	left: 100px;
	font-size: 3em;
}

.subtitle {
	top: 150px;
	left: 100px;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}
